*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid wheat;
}

 //**box 2**//
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-sec{
    font-size: 1rem;
    margin-left: 10px;

}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(36, 100%, 50%);
    width: 620px;
    height: 40px;
    border-radius: 4.5px;
}

.search-select{
    background-color: #555555;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

 /** box 4 **/
 span{
    font-size: 0.7rem;
 }

 .nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    
 }

 /** box cart**/
 .nav-cart i {
    font-size: 30px;
 }

 .nav-cart{
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
 }
/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p{
    display: inline;
    margin-left: 18px;
}

.panel-option{
    width: 70%;
    font-size: 1rem;
}

/** big section**/

.big-section{
    background-image: url("big.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.big-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.big-msg a{
    color: #007185;
}

/** shoping **/
.shoping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d0f7ff;
}
 .box{
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
 }

 .box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
 }

 .box-cont p{
    color: #007185;
 }

 /** footer **/
 footer{
    margin-top: 15px;
 }
 .foot1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
 }
 .foot2{
    background-color: #222f3d;
    color: white; 
    height: 300px;
    display: flex;
    justify-content: space-evenly;
 }

 ul{
    margin-top: 20px;
 }

 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
 }

 .foot3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
 }

 .foot4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
 }

 .copy{
   padding-top: 25px;
 }

 .right{
    padding-top: 5px;
    
 }



 //** login page **//

 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #005bb5;
}

.hello{
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: 50px;
}


.mini{
    background-color: white;
    width: 40%;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    margin-top: 120px;
}